<b>{% trans %}gym_information{% endtrans %}</b>

{% if gym.ex == true %}{{ constant('GYM_EX', icons)|raw }} {% endif %}{{ gym.name }} (<code>#{{ gym.id }}</code>)
{{ constant('LOCATION', icons)|raw }} <a href="https://maps.google.com/?daddr={{ gym.latitude }},{{ gym.longitude }}" >{{ gym.address }}</a>

<b>{% trans %}settings{% endtrans %}</b>

{% trans %}enabled{% endtrans %}: {% if gym.enabled == true %}{{ constant('CHECK_MARK', icons)|raw }}{% else %}{{ constant('RED_CROSS', icons)|raw }}{% endif %}

{% trans %}ex_gym{% endtrans %}: {% if gym.ex == true %}{{ constant('CHECK_MARK', icons)|raw }}{% else %}{{ constant('RED_CROSS', icons)|raw }}{% endif %}


<b>{% trans %}what_to_update{% endtrans %}</b>
